<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
    RewriteRule ^(.*) - [E=BASE:%1]

    # Serve if file exists
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule .? - [L]

    # Rewrite all other queries
    RewriteRule .? %{ENV:BASE}/index.php [L]
</IfModule>
