{
  "berlioz": {
    "debug": {
      "enable": true
    }
  },
  "app": {
    "websites": {
      "crud-berlioz": {
        "slug": "crud-berlioz",
        "name": "crud-berlioz",
        "logo": "",
        "default": true,
        "hosts": [
          "crud-berlioz.test"
        ],
        "config": {
          "url": "http://crud-berlioz.test:89/"
        }
      }
    }
  },
  "atlas": {
          "pdo": {
              "connection_locator": {
                  "default": {
                      "dsn": "mysql:dbname=crud-berlioz;host=127.0.0.1;port=3306",
                      "username": "root",
                      "password": ""
                  }
              }
          }
      },
  "http": {
    "errors": {
      "default": "Berlioz\\HttpCore\\Http\\DefaultHttpErrorHandler"
    }
  }
}